# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

# JavaScript/TypeScript/JSX/TSX files
[*.{js,jsx,ts,tsx}]
indent_style = space
indent_size = 2
quote_type = single
curly_bracket_next_line = false
spaces_around_operators = true
spaces_around_brackets = false
indent_brace_style = K&R

# CSS, SCSS, Less files
[*.{css,scss,less}]
indent_style = space
indent_size = 2

# HTML files
[*.{html,htm}]
indent_style = space
indent_size = 2

# JSON files
[*.json]
indent_style = space
indent_size = 2

# YAML files
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false
indent_style = space
indent_size = 2

# Package files
[{package.json,package-lock.json,yarn.lock}]
indent_style = space
indent_size = 2

# Config files
[*.{config.js,config.ts}]
indent_style = space
indent_size = 2

# Git config files
[.git*]
indent_style = space
indent_size = 2

# Environment files
[*.env*]
indent_style = space
indent_size = 2

# Ignore minified files
[**.min.*]
indent_style = ignore
insert_final_newline = ignore